//!----------------- //main__nav -----------

.nav__menu--item {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.6px;
}

.nav__menu--item.active {
  color: var(--accent);
}

.hero__slider--wrapper {
  --swiper-pagination-color: var(--accent) !important;
  --swiper-pagination-bullet-inactive-color: #779e9e;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 24px;
  --swiper-pagination-bottom: 15px;
}

.grid-auto-fit {
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  place-content: space-between;
  justify-items: center;
}


//!-----------------pagination-----------------

.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination__wrapper a {
  border: 2px solid hsl(var(--temp_secondary));
  aspect-ratio: 1/1;
  width: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 3.2px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: hsl(var(--temp_secondary));
    color: hsl(var(--background));
  }
}

.active__page--pagination a {
  background-color: hsl(var(--temp_secondary));
  color: hsl(var(--background));
}

.pagination__previous,
.pagination__next {
  display: none !important;
}


/* .accordion[data-state="open"] {
  svg {
    transform: rotate(180deg);
  }
}
.accordion[data-state="closed"] {
  svg {
    transform: rotate(0);
  }
}
 */